* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16pt;
  font-family: Arial, Helvetica, sans-serif;
}

/* Menu */
.menu-container {
  height: 3rem;
  color: #fff;
  background-color: #16202b;  /* Blue */
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  justify-content: space-between;
}

.left-nav > .date, .left-nav > .about, .left-nav > .images {
  margin-left: 1.25rem;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
}


/* Header */
.header {
  height: calc(100vh - 3rem);
  background-color: #e2e2e2;
  background-image: url('images/cabin.png');
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.row {
  border: 1px solid white;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
}

.col-3 {
  height: 100%;
  width: 25%;
  border: 1px solid red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Media queries */
@media screen and (max-width: 736px) {
    .row {
      flex-direction: column-reverse;
      background-color: rgb(22 22 51 / 65%);
      border: 1px solid black;
      color: #cecece;
      padding: 0;
    }

    .col-3 {
      width: 100%;
      border: 1px solid white;
    }
}

@media screen and (max-width: 736px) {
    .row {
      background-color: rgb(0 0 0 / 65%);
    }
}



/*
.social,
.logo,
.subscribe {
  border: 1px solid #5995DA;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.first-item {
  order: 10;
}

.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-one {
  flex: initial;
  width: 200px;
}

.footer-three {
  flex: initial;
  width: 200px;
}*/
