* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pagewrapper {
  overflow: hidden;
  background-color: #3e3e3e;
  padding: 2rem;
}

.contentwrapper {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

body {
  font-size: 16pt;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6, p, ul {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

/* Menu */
.menu {
  background-color: #fff;
  color: #1c1d1e;
}
.menu nav {
  overflow: hidden;
  padding: 1rem;
}

.menu a {
    text-decoration: none;
}

.menu a:visited {
    color: #1c1d1e;
}

.menu li {
  float: left;
  margin-right: 1rem;
  padding: 1rem;
}

/* Sidebar */
.sidebar {
  background-color: blue;
  float: left;
  width: 200px;
}

/* Content */
.content {
  background-color: green;
  height: 300px;
  width: 300px;
  float: left;
}

/* Footer */
.footer {
  background-color: red;
  clear: both;
  overflow: hidden;
}

.column {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  border: 1px solid black;
  height: 100px;
}
