html {
  font-size: 16px !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(9, 10, 27, 1) !important;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 { color: #fff; }

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem;}
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

/* NAV */
#main-nav { font-size: 1.2rem; }
#main-nav a { margin-right: 1.5rem;}
#main-nav .btn.small {
  border: 1px solid black;
  font-size: 1.2rem;
  box-shadow: none;
  color: rgba(0,0,0,.9);
}

#main-nav .btn.small:hover {
  border: 1px solid black;
  color: #fff;
  background-color: rgb(9, 10, 27, 1);
}

#main-nav a:hover {
  color: #848484;
}

#main-nav .navbar-toggler:focus {
  outline: 5px auto rgb(9, 10, 27, 1);
}

/* BANNER */
#banner {
  background-image: url('/public/images/bannerImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

#banner > .overlay {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: rgb(0, 0, 0, .25);
}

#banner .content {
  text-align: center;
}

#banner .overlay .btn.large {
  margin-top: 1rem;
  color: #fff;
  border: 1px solid #fff;
  width: 400px;
  font-size: 1.5rem;
  box-shadow: none;
}

#banner .overlay .btn.large:hover {
  border: 1px solid rgb(0, 0, 0, .25);
  background-color: rgb(9, 10, 27, 1);
}

/* JUMBOTRON */
#jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(60, 60, 60, .9);
}

#jumbotron header {
  align-self: center;
}

#jumbotron .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 2000px;
}

#jumbotron .content-image {
  flex-grow: 2;
  padding: 1rem;
  border-radius: 8px;
}

img { border-radius: 8px; }

#jumbotron .content-words {
  flex-grow: 1;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
}

#jumbotron .content-words p {
  font-size: 1.45rem !important;
}

/* MAIN CONTENT */
.col-12 {
  margin: 15px auto;
  border-radius: 8px;
  max-width: 98%;
  padding: .5rem;
}

#example-page .col-12:nth-child(odd) {
  background-color: #d8d8d8;
}

#example-page .col-12:nth-child(even) {
  background-color: #fff;
}

#example-page .col-12 h2 {
  color: #1c1d1e;
}

.col-12 > header {
  margin-bottom: 30px;
}

.container {
  margin-top: 2rem !important;
  max-width: 1700px;
  margin-bottom: 3rem;
}

#contact-page {
  max-width: 600px !important;
}

#contact-page header {
  margin: 1.5rem 0;
}

#contact-page input {
  margin: 1.5rem 0;
  width: 100%;
  font-size: 1.5rem;
  padding: .5rem;
}

#contact-page .center {
  text-align: center;
}

#contact-page a {
  font-size: 1.5rem;
  background-color: #0000000f;
  color: #ffffff;
  text-align: center;
  border: 1px solid white;
}

#store-page .col-4 {
  margin-bottom: 2rem;
}

.col-12.half {
  max-width: 75%;
}

.col-3 {
  padding-bottom: 25px;
}

.row img {
  width: 100%;
  border-radius: 8px;
}

textarea {
  font-size: 1.5rem;
  padding: .5rem;
}

/* FOOTER */
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#footer a {
  color: #1c1d1e;
}

#footer a:hover {
  color: #848484;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  #store-page .col-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 893px) {
  #jumbotron .content .content-image {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .col-3 {
    max-width: 50% !important;
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 736px) {
  .grid-item{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
}
@media screen and (max-width: 736px) {
  #banner {
    background-size: cover;
    background-position: left;
    height: 300px;
  }
}

@media screen and (max-width: 736px) {
  #banner > .overlay {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  #banner .overlay .btn.large {
    width: 300px;
  }
}
